.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 2px solid black;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
}

.nav-items > ul >li{
    padding: 10px
}
.logo{
    width: 100px;
}


.card{
    width: 250px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}
.card >img{
    width: 100%;
}
.restrauntCards{
    display: flex;
    flex-wrap: wrap;
}
/* {shimmer effect} */
article{
    background: #ddd;
    width: 100%;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
  
article .line{
    width: 100%;
    height: 20px;
    background: #bbb;
    margin: 20px 0;
    border-radius: 5px;
}
  
article .shimmer{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
  
    background: linear-gradient(100deg,
    rgba(255,255,255,0) 20%,
    rgba(255,255,255,0.5) 50%,
    rgba(255,255,255,0) 80%);
  
    animation: shimmer 2s infinite linear;
}
  
@keyframes shimmer{
    from {
        transform: translateX(-200%);
    }
    to{
        transform: translateX(200%);
    }
}
/* {end} */

.menu{
    display: flex;
}